{% load static %}



<html>
    <head>
        <title>CRM</title>
        <link rel="stylesheet"  href="{% static 'accounts/css/bootstrap.min.css'%}">
    </head>
    <body>
        {% include 'accounts/navbar.html' %}

        {% block content %}

        {% endblock %}

        <hr>
        <h5>Our footer</h5>

    </body>
    <script src="{% static 'accounts/js/jquery-3.2.1.slim.min.js'%}" ></script>
    <script src="{% static 'accounts/js/popper.min.js'%}" ></script>
    <script src="{% static 'accounts/js/bootstrap.js'%}" ></script>
</html>